
* {
	box-sizing: content-box;
}

body {
	background: #00C9FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Image properties */
.main-img {
	margin: 5px 5px;
	opacity: 85%;
	width: 98%;
	height: auto;
	border: 2px solid;
	border-radius: 15px;
	float: center;
	box-shadow: 20px 20px 120px #000000,
				20px 20px 100px #000000,
				10px 10px 100px #000000;
}
.inside-img {
	display: block;
	margin: auto;
	opacity: 100%;
	width: 50%;
	height: auto;
	border-radius: 5px;

}

/* End of image properties */


/*.container {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 30px;
}*/


/* Header links styling */
.header {
	float: center;
	font-family: 'Fondamento', cursive; 
	overflow: hidden;
	background-color: #000000;
	padding: 20px 15px 10px;
	/*border: 2px solid;
	border-radius: 10px;*/
	box-shadow: 10px 10px 100px #FFFFFF,
				10px 10px 100px #8AF1FF,
				5px 5px 80px #8AF1FF;
}
.header a {
	float: left;
	color: #FFFFFF;
	text-align: center;
	padding: 2vw;
	text-decoration: none;
	font-size: 3em;
	line-height: 25px;
	border-radius: 4px;
}
.header span a {
	font-size: 25px;
	float: center;
}
.header a:hover {
	background-color: #D4FFF8;
	color: #000000;
	
}
.header a:active {
	background-color: #00FFF3;
	color: #000066;
}
/* floats the header to the right */
.header-right {
	float: right;
	text-shadow: 0 0 20px #2042EC,
				0 0 10px #2042EC;
}

/* End of header styles. */

/* Paragraph styling */
.center-text {
	text-align: center;
}
.paragraph-heading {
	font-size: 2em;
	color: #000000;
	font-family: 'Fondamento', cursive;
	font-weight: bolder;
	font-style: oblique;
}
.paragraph {
	font-size: 1.5em;
	color: #000000;
	/*font-family: 'Fondamento', cursive;*/
	font-family: 'Courgette', cursive;
}
.essay-title a:hover {
	color: #8300FF;
	text-decoration: none;
	text-shadow: 0 0 2px #000000;
}
.quotes {
	font-weight: bold;
}
.no-text-underline {
	text-decoration: none;
}

.devanagari {
	/*font-family: 'Yatra One', cursive;*/
	font-family: 'Sumana', serif;
}


/* End of paragraph styles */


/* Footer details */

footer {
	font-family: 'Fondamento', cursive;
	background-color: black;
	color: white;
	height: 100px;
	box-shadow: 10px 10px 100px #FFFFFF;
	opacity: 80%;
}
footer span div {
	font-size: 1.2em;
}

/* End of footer */

/* Media Queries */
/* For small devices - like phones) */
@media (max-width: 767px) {
	.container {
		width: auto;
	}
	.header a {
		font-size: 1.8em;
		font-weight: bolder;
		display: block;

	}
	.header-right {
		inline-size :max-content;
		text-align: center;
		display: inline-block;
	}
	.header-right a {
		color: #CDF7FF;
	}
	.paragraph {
		font-size: 1.25em;
	}
}
/* For medium size-devices */

@media (min-width: 768px and max-width: 921px) {
	.container {
		width: auto;
	}
	.header a {
		font-size: 3em;
	}
}

/* Large screens */

@media (min-width: 922px) {
	.header-right {
		display: inline-block;
	}
}

/* End of media queries */

/* Animations */
@keyframes colorful-text {
	0% {color: #00FFFF;}
	25% {color: #7B68EE;}
	50% {color: #800000;}
	100% {color: #E6E6FA;}
}


.changing-color {
	animation-name: colorful-text;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
.changing-color-1 {
	animation-name: colorful-text;
	animation-duration: 5s;
	animation-direction: reverse;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}

/*@keyframes move-text-animation {
	from {left: 0%;}
	to {left: 50%;}
}*/

/*.animate-text {
	position: relative;
	animation: move-text-animation 6s 2;
	animation-timing-function: linear;
}*/